<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'Css\registration.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images\favico.webp' %}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <!-- <script src="{% static 'js\registration.js' %}"></script> -->
    <title>Reimbursement</title>
</head>
<body>
    <form method="POST" action="{% url 'reset_password' %}">
        {% csrf_token %}
        <div class="container">
          <div class="messages"></div>
          {% if messages %}
          <ul class="messages">
            {% for message in messages %}
              <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}       
          <label for="email"><b>Email</b></label>
          <input type="text" placeholder="Enter Email" name="username" required>
          <div class="clearfix">
            <button type="submit" class="btn" style="background-color: #5C60F5;">Reset Link</button>
            <div class="center-signin">
            </div>
          </div>          
        </div>
      </form>
</body>
</html>